body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: aqua;
    margin: 0 auto;
    text-align: center;
}

#count-el{
    font-size: 50px;
}

p{
    font-size: 25px;
    max-width: 500px;
    margin: 15px auto;
}

button{
    font-size: 30px;
    font-weight: 400%;
    background-color: #000;
    box-shadow: 1px 1px 3px 1px #fff;
    margin: 10px 10px;
    padding: 15px 50px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}



.save{
    background-color: rgb(184, 14, 14);
    display: block;
    border: 2px black solid;
    margin: 5px auto;
    box-shadow: 1px 1px 3px 1px #fff;
}
